<html lang="en"><head></head><body><form id="mainForm" method="post" action="https://embed.plnkr.co?show=preview" target="eplnkr"><input type="hidden" name="entries[vehicles.controller.js][content]" value="(function () {
  angular
    .module('app', [])
    .controller('VehiclesController', VehiclesController);

  function VehiclesController() {
    var vm = this;
    vm.name = 'World';
    vm.vehicles = [
      { id: 1, name: 'X-Wing Fighter' },
      { id: 2, name: 'Tie Fighter' },
      { id: 3, name: 'Y-Wing Fighter' }
    ];
  }
})();



/*
Copyright 2016 JohnPapa.net, LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/"><input type="hidden" name="entries[vehicles.controller.js][encoding]" value="utf8"><input type="hidden" name="entries[index.html][content]" value="<!DOCTYPE html>
<html ng-app=&quot;app&quot;>

  <head>
    <meta charset=&quot;utf-8&quot; />
    <title>AngularJS Plunker</title>
    <script>document.write('<base href=&quot;' + document.location + '&quot; />');</script>
    <script data-require=&quot;angular.js@1.4.x&quot; src=&quot;https://code.angularjs.org/1.4.8/angular.js&quot; data-semver=&quot;1.4.8&quot;></script>
    <script src=&quot;vehicles.controller.js&quot;></script>
  </head>

  <body ng-controller=&quot;VehiclesController as vm&quot;>
    <ul>
      <li ng-repeat=&quot;vehicle in vm.vehicles&quot;>
        {{vehicle.name}}
      </li>
    </ul>
    <div ng-if=&quot;vm.vehicles.length&quot;>
      <h3>You have {{vm.vehicles.length}} vehicles</h3>
    </div>
  </body>

</html>


<!-- 
Copyright 2016 JohnPapa.net, LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->"><input type="hidden" name="entries[index.html][encoding]" value="utf8"><input type="hidden" name="tags[0]" value="angular2"><input type="hidden" name="tags[1]" value="example"><input type="hidden" name="tags[2]" value="first look"><input type="hidden" name="tags[3]" value="angular 1"><input type="hidden" name="title" value="Angular 2 Example - Angular 1 - ng-repeat"><input type="hidden" name="source[type]" value="Angular 1 - ng-repeat"><input type="hidden" name="source[url]" value="https://angular.io"><input type="hidden" name="entries[README.md][content]" value="### Angular 2 First Look Example 

Angular 1 - ng-repeat"><input type="hidden" name="entries[README.md][encoding]" value="utf8"></form><script>document.getElementById("mainForm").submit();</script></body></html>