**/*.map
examples/**/app/**/*.js
examples/**/api/**/*.js
examples/**/in-memory-backend/**/*.js

node_modules
jspm_packages
bower_components

plnkr.html
#plnkr.demo.html

npm-debug.log

#the pluralsight download folder
materials