<!DOCTYPE html>
<html>

<head>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <my-story>Loading ...</my-story>

  <script src="node_modules/core-js/client/shim.min.js"></script>
  <script src="node_modules/zone.js/dist/zone.js"></script>

  <script src="node_modules/systemjs/dist/system.src.js"></script>

  <script>
    System.import('systemjs.config.js')
      .then(function () { System.import('main') })
      .catch(console.error.bind(console));
  </script>
</body>

</html>
