button {
  width: 200px;height: 70px;
  color: #111;
}

@media (max-width: 1024px) {
  button {
    width: 180px;
    line-height: 18px;
    font-size: 12px;
  }
}

@media (max-width: 839px) {
  button {
    width: 120px;
    line-height: 18px;
    font-size: 12px;
  }
}
