<html lang="en"><head></head><body><form id="mainForm" method="post" action="http://plnkr.co/edit/?p=preview" target="_self"><input type="hidden" name="files[app/app.component.ts]" value="import { Component } from 'angular2/core';
import { Character, CharacterService } from './character.service';
import { CharacterListComponent } from './character-list.component';

@Component({
  selector: 'my-app',
  template: '<my-character-list></my-character-list>',
  directives: [CharacterListComponent],
  providers: [CharacterService]
})
export class AppComponent {}

"><input type="hidden" name="files[app/character-list.component.ts]" value="import { Component, OnInit } from 'angular2/core';
import { Character, CharacterService } from './character.service';
import { CharacterComponent } from './character.component';

@Component({
  selector: 'my-character-list',
  templateUrl: 'app/character-list.component.html',
  styles: ['li {cursor: pointer;}'],
  directives: [CharacterComponent]
})
export class CharacterListComponent implements OnInit {
  selectedCharacter: Character;
  characters: Character[] = [];
  messages: string[] = [];

  constructor(private _characterService: CharacterService) { }

  ngOnInit() {
    this.characters = this._characterService.getCharacters();
  }

  select(character: Character) {
    this.selectedCharacter = character;
  }

  clear() {
    this.selectedCharacter = null;
  }

  log(msg: string) {
    this.messages.splice(0, 0, msg);
    console.log(msg);
  }
}

"><input type="hidden" name="files[app/character.component.ts]" value="import { Component, EventEmitter, Input, Output, OnChanges, OnInit, AfterViewInit, OnDestroy } from 'angular2/core';
import { Character } from './character.service';

@Component({
  selector: 'my-character',
  templateUrl: 'app/character.component.html'
})
export class CharacterComponent implements OnChanges, OnInit, AfterViewInit, OnDestroy{
  @Input() character: Character;
  @Output() onLifecycleHookFire = new EventEmitter<string>();

  ngOnChanges() {
    this.onLifecycleHookFire.emit(`ngOnChanges for ${this.character.name}`)
  }

  ngOnInit() {
    this.onLifecycleHookFire.emit(`ngOnInit for ${this.character.name}`)
  }

  ngAfterViewInit() {
    this.onLifecycleHookFire.emit(`ngAfterViewInit for ${this.character.name}`)
  }

  ngOnDestroy() {
    console.log(`ngOnDestroy for ${this.character.name}`)
  }

}

"><input type="hidden" name="files[app/character.service.ts]" value="import { Injectable } from 'angular2/core';

export class Character {
  constructor(public id: number, public name: string, public side: string) {}
}

@Injectable()
export class CharacterService {
  getCharacters() {
    return [
      new Character(1, 'Han Solo', 'light'),
      new Character(2, 'Luke Skywalker', 'light'),
      new Character(3, 'Kylo', 'dark'),
      new Character(4, 'Rey', 'light')
    ];
  }
}
"><input type="hidden" name="files[app/main.ts]" value="  import { bootstrap } from 'angular2/platform/browser';
  import { AppComponent } from './app.component';

  bootstrap(AppComponent)
    .then(success => console.log(`Bootstrap success`))
    .catch(error => console.log(error));

"><input type="hidden" name="files[app/character-list.component.html]" value="<ul>
  <li *ngFor=&quot;#character of characters&quot; (click)=&quot;select(character)&quot;>
    {{ character.name }}
  </li>
</ul>

<button (click)=&quot;clear()&quot;>clear</button>
<ul class=&quot;messages&quot;>
  <li *ngFor=&quot;#msg of messages&quot;>{{msg}}</li>
</ul>


<my-character *ngIf=&quot;selectedCharacter&quot;
  (onLifecycleHookFire)=&quot;log($event)&quot;
  [character]=&quot;selectedCharacter&quot;
  ></my-character>"><input type="hidden" name="files[app/character.component.html]" value="<h3>We selected {{character.name}}</h3>



"><input type="hidden" name="files[index.html]" value="<!DOCTYPE html>
<html>

<head>
  <script>document.write('<base href=&quot;' + document.location + '&quot; />');</script>

  <meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1.0&quot;>

  <!-- IE required polyfills, in this exact order -->
  <script src=&quot;https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.35.0/es6-shim.js&quot;></script>
  <script src=&quot;https://cdnjs.cloudflare.com/ajax/libs/systemjs/0.19.26/system-polyfills.js&quot;></script>
  <script src=&quot;https://npmcdn.com/angular2/es6/dev/src/testing/shims_for_IE.js&quot;></script>

  <!-- Angular polyfill required everywhere -->
  <script src=&quot;https://code.angularjs.org/2.0.0-beta.15/angular2-polyfills.js&quot;></script>

  <script src=&quot;https://code.angularjs.org/tools/system.js&quot;></script>
    <script src=&quot;https://code.angularjs.org/tools/typescript.js&quot;></script>
  <script src=&quot;https://code.angularjs.org/2.0.0-beta.15/Rx.js&quot;></script>
  <script src=&quot;https://code.angularjs.org/2.0.0-beta.15/angular2.dev.js&quot;></script>
  <script src=&quot;https://code.angularjs.org/2.0.0-beta.15/router.dev.js&quot;></script>
  <script src=&quot;https://code.angularjs.org/2.0.0-beta.15/http.dev.js&quot;></script>

  <script>
      System.config({
        transpiler: 'typescript', 
        typescriptOptions: { emitDecoratorMetadata: true }, 
        packages: {
          'api': {defaultExtension: 'ts'}, 
          'app': {defaultExtension: 'ts'} 
        } 
      });
    System.import('app/main')
          .then(null, console.error.bind(console));
  </script>

</head>

<body>
  <my-app>Loading Demo ...</my-app>
</body>

</html>"><input type="hidden" name="files[api/characters.json]" value="{
  &quot;data&quot;: [
    {
      &quot;id&quot;: 11,
      &quot;name&quot;: &quot;Chewbacca&quot;,
      &quot;side&quot;: &quot;light&quot;
    },
    {
      &quot;id&quot;: 12,
      &quot;name&quot;: &quot;Rey&quot;,
      &quot;side&quot;: &quot;light&quot;
    },
    {
      &quot;id&quot;: 13,
      &quot;name&quot;: &quot;Finn (FN2187)&quot;,
      &quot;side&quot;: &quot;light&quot;
    },
    {
      &quot;id&quot;: 14,
      &quot;name&quot;: &quot;Han Solo&quot;,
      &quot;side&quot;: &quot;light&quot;
    },
    {
      &quot;id&quot;: 15,
      &quot;name&quot;: &quot;Leia Organa&quot;,
      &quot;side&quot;: &quot;light&quot;
    },
    {
      &quot;id&quot;: 16,
      &quot;name&quot;: &quot;Luke Skywalker&quot;,
      &quot;side&quot;: &quot;light&quot;
    },
    {
      &quot;id&quot;: 17,
      &quot;name&quot;: &quot;Poe Dameron&quot;,
      &quot;side&quot;: &quot;light&quot;
    },
    {
      &quot;id&quot;: 18,
      &quot;name&quot;: &quot;Kylo Ren&quot;,
      &quot;side&quot;: &quot;dark&quot;
    },
    {
      &quot;id&quot;: 19,
      &quot;name&quot;: &quot;Supreme Commander Snoke&quot;,
      &quot;side&quot;: &quot;dark&quot;
    },
    {
      &quot;id&quot;: 20,
      &quot;name&quot;: &quot;R2-D2&quot;,
      &quot;side&quot;: &quot;light&quot;
    },
    {
      &quot;id&quot;: 21,
      &quot;name&quot;: &quot;BB8&quot;,
      &quot;side&quot;: &quot;light&quot;
    },
    {
      &quot;id&quot;: 22,
      &quot;name&quot;: &quot;C-3PO&quot;,
      &quot;side&quot;: &quot;light&quot;
    },
    {
      &quot;id&quot;: 23,
      &quot;name&quot;: &quot;Maz Kanata&quot;,
      &quot;side&quot;: &quot;light&quot;
    },
    {
      &quot;id&quot;: 24,
      &quot;name&quot;: &quot;Captain Phasma&quot;,
      &quot;side&quot;: &quot;dark&quot;
    },
    {
      &quot;id&quot;: 25,
      &quot;name&quot;: &quot;General Hux&quot;,
      &quot;side&quot;: &quot;dark&quot;
    },
    {
      &quot;id&quot;: 26,
      &quot;name&quot;: &quot;Lor San Tekka&quot;,
      &quot;side&quot;: &quot;light&quot;
    }
  ]
}"><input type="hidden" name="files[api/vehicles.json]" value="{
  &quot;data&quot;: [
    {
      &quot;id&quot;: 30,
      &quot;name&quot;: &quot;Millennium Falcon&quot;,
      &quot;type&quot;: &quot;space&quot;
    },
    {
      &quot;id&quot;: 31,
      &quot;name&quot;: &quot;Y-Wing Fighter&quot;,
      &quot;type&quot;: &quot;space&quot;
    },
    {
      &quot;id&quot;: 32,
      &quot;name&quot;: &quot;X-Wing Fighter&quot;,
      &quot;type&quot;: &quot;space&quot;
    },
    {
      &quot;id&quot;: 33,
      &quot;name&quot;: &quot;Imperial Star Destroyer&quot;,
      &quot;type&quot;: &quot;space&quot;
    },
    {
      &quot;id&quot;: 34,
      &quot;name&quot;: &quot;AT-AT Walker&quot;,
      &quot;type&quot;: &quot;land&quot;
    },
    {
      &quot;id&quot;: 35,
      &quot;name&quot;: &quot;TIE Fighter&quot;,
      &quot;type&quot;: &quot;space&quot;
    },
    {
      &quot;id&quot;: 36,
      &quot;name&quot;: &quot;B-Wing Fighter&quot;,
      &quot;type&quot;: &quot;space&quot;
    },
    {
      &quot;id&quot;: 37,
      &quot;name&quot;: &quot;ETA-2 Jedi Starfighter&quot;,
      &quot;type&quot;: &quot;space&quot;
    },
    {
      &quot;id&quot;: 38,
      &quot;name&quot;: &quot;TIE Interceptor&quot;,
      &quot;type&quot;: &quot;space&quot;
    },
    {
      &quot;id&quot;: 39,
      &quot;name&quot;: &quot;X-34 Landspeeder&quot;,
      &quot;type&quot;: &quot;land&quot;
    },
    {
      &quot;id&quot;: 40,
      &quot;name&quot;: &quot;Snow Speeder&quot;,
      &quot;type&quot;: &quot;land&quot;
    }
  ]
}"><input type="hidden" name="files[tslint.json]" value="{
  &quot;rules&quot;: {
    &quot;class-name&quot;: true,
    &quot;comment-format&quot;: [
      true,
      &quot;check-space&quot;
    ],
    &quot;curly&quot;: true,
    &quot;eofline&quot;: true,
    &quot;forin&quot;: true,
    &quot;indent&quot;: [
      true,
      &quot;spaces&quot;
    ],
    &quot;label-position&quot;: true,
    &quot;label-undefined&quot;: true,
    &quot;max-line-length&quot;: [
      true,
      140
    ],
    &quot;member-access&quot;: false,
    &quot;member-ordering&quot;: [
      true,
      &quot;static-before-instance&quot;,
      &quot;variables-before-functions&quot;
    ],
    &quot;no-arg&quot;: true,
    &quot;no-bitwise&quot;: true,
    &quot;no-console&quot;: [
      true,
      &quot;debug&quot;,
      &quot;info&quot;,
      &quot;time&quot;,
      &quot;timeEnd&quot;,
      &quot;trace&quot;
    ],
    &quot;no-construct&quot;: true,
    &quot;no-debugger&quot;: true,
    &quot;no-duplicate-key&quot;: true,
    &quot;no-duplicate-variable&quot;: true,
    &quot;no-empty&quot;: false,
    &quot;no-eval&quot;: true,
    &quot;no-inferrable-types&quot;: true,
    &quot;no-shadowed-variable&quot;: true,
    &quot;no-string-literal&quot;: false,
    &quot;no-switch-case-fall-through&quot;: true,
    &quot;no-trailing-whitespace&quot;: true,
    &quot;no-unused-expression&quot;: true,
    &quot;no-unused-variable&quot;: true,
    &quot;no-unreachable&quot;: true,
    &quot;no-use-before-declare&quot;: true,
    &quot;no-var-keyword&quot;: true,
    &quot;object-literal-sort-keys&quot;: false,
    &quot;one-line&quot;: [
      true,
      &quot;check-open-brace&quot;,
      &quot;check-catch&quot;,
      &quot;check-else&quot;,
      &quot;check-whitespace&quot;
    ],
    &quot;quotemark&quot;: [
      true,
      &quot;single&quot;
    ],
    &quot;radix&quot;: true,
    &quot;semicolon&quot;: [
      &quot;always&quot;
    ],
    &quot;triple-equals&quot;: [
      true,
      &quot;allow-null-check&quot;
    ],
    &quot;typedef-whitespace&quot;: [
      true,
      {
        &quot;call-signature&quot;: &quot;nospace&quot;,
        &quot;index-signature&quot;: &quot;nospace&quot;,
        &quot;parameter&quot;: &quot;nospace&quot;,
        &quot;property-declaration&quot;: &quot;nospace&quot;,
        &quot;variable-declaration&quot;: &quot;nospace&quot;
      }
    ],
    &quot;variable-name&quot;: false,
    &quot;whitespace&quot;: [
      true,
      &quot;check-branch&quot;,
      &quot;check-decl&quot;,
      &quot;check-operator&quot;,
      &quot;check-separator&quot;,
      &quot;check-type&quot;
    ]
  }
}
"><input type="hidden" name="files[typings.json]" value="{
  &quot;ambientDependencies&quot;: {
    &quot;es6-shim&quot;: &quot;github:DefinitelyTyped/DefinitelyTyped/es6-shim/es6-shim.d.ts#7de6c3dd94feaeb21f20054b9f30d5dabc5efabd&quot;,
    &quot;jasmine&quot;: &quot;github:DefinitelyTyped/DefinitelyTyped/jasmine/jasmine.d.ts#5c182b9af717f73146399c2485f70f1e2ac0ff2b&quot;
  }
}
"><input type="hidden" name="files[license.md]" value="Copyright 2010-2015 Google, Inc. http://angularjs.org

Licensed under the Apache License, Version 2.0 (the &quot;License&quot;);
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

   [http://www.apache.org/licenses/LICENSE-2.0](http://www.apache.org/licenses/LICENSE-2.0)

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an &quot;AS IS&quot; BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License."><input type="hidden" name="tags[0]" value="angular2"><input type="hidden" name="tags[1]" value="example"><input type="hidden" name="tags[2]" value="first look"><input type="hidden" name="tags[3]" value="angular 2"><input type="hidden" name="private" value="true"><input type="hidden" name="description" value="Angular 2 Example - Component Lifecycle Hooks"></form><script>document.getElementById("mainForm").submit();</script></body></html>