<html lang="en"><head></head><body><form id="mainForm" method="post" action="http://plnkr.co/edit/?p=preview" target="_self"><input type="hidden" name="files[vehicle.service.js]" value="(function () {
  'use strict';

  angular
    .module('app')
    .service('VehicleService', VehicleService);

  function VehicleService() {
    this.getVehicles = function () {
      return [
        { id: 1, name: 'X-Wing Fighter' },
        { id: 2, name: 'Tie Fighter' },
        { id: 3, name: 'Y-Wing Fighter' }
      ];
    }
  }
})();

/*
Copyright 2016 JohnPapa.net, LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license
*/"><input type="hidden" name="files[vehicles.controller.js]" value="(function () {
  angular
    .module('app', [])
    .controller('VehiclesController', VehiclesController);

  VehiclesController.$inject = ['VehicleService'];
  function VehiclesController(VehicleService) {
    var vm = this;
    vm.title = 'Services';
    vm.vehicles = VehicleService.getVehicles();
  }
})();



/*
Copyright 2016 JohnPapa.net, LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license
*/"><input type="hidden" name="files[index.html]" value="<!DOCTYPE html>
<html ng-app=&quot;app&quot;>

  <head>
    <meta charset=&quot;utf-8&quot; />
    <title>AngularJS Plunker</title>
    <script>document.write('<base href=&quot;' + document.location + '&quot; />');</script>
    <script data-require=&quot;angular.js@1.4.x&quot; src=&quot;https://code.angularjs.org/1.4.8/angular.js&quot; data-semver=&quot;1.4.8&quot;></script>
    <script src=&quot;vehicles.controller.js&quot;></script>
    <script src=&quot;vehicle.service.js&quot;></script>
  </head>

  <body ng-controller=&quot;VehiclesController as vm&quot;>
    <h3>{{vm.title}}</h3>
    <ul>
      <li ng-repeat=&quot;vehicle in vm.vehicles&quot;>
        {{vehicle.name}}
      </li>
    </ul>
    <div ng-if=&quot;vm.vehicles.length&quot;>
      <h3>You have {{vm.vehicles.length}} vehicles</h3>
    </div>
  </body>

</html>


<!-- 
Copyright 2016 JohnPapa.net, LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license
-->"><input type="hidden" name="tags[0]" value="angular2"><input type="hidden" name="tags[1]" value="example"><input type="hidden" name="tags[2]" value="first look"><input type="hidden" name="tags[3]" value="angular 1"><input type="hidden" name="private" value="true"><input type="hidden" name="description" value="Angular 2 Example - Angular 1 - Services"><input type="hidden" name="files[systemjs.config.js]" value="/**
 * PLUNKER VERSION (based on systemjs.config.js in angular.io)
 * System configuration for Angular 2 samples
 * Adjust as necessary for your application needs.
 */
(function(global) {

  var ngVer = '@2.0.0-rc.1'; // lock in the angular package version; do not let it float to current!

  //map tells the System loader where to look for things
  var  map = {
    'app':                        'app',

    '@angular':                   'https://npmcdn.com/@angular', // sufficient if we didn't pin the version
    'angular2-in-memory-web-api': 'https://npmcdn.com/angular2-in-memory-web-api', // get latest
    'rxjs':                       'https://npmcdn.com/rxjs@5.0.0-beta.6',
    'ts':                         'https://npmcdn.com/plugin-typescript@4.0.10/lib/plugin.js',
    'typescript':                 'https://npmcdn.com/typescript@1.8.10/lib/typescript.js',
 };

  //packages tells the System loader how to load when no filename and/or no extension
  var packages = {
    // PAPA -iput main.ts in the root
    // 'app':                        { main: 'main.ts',  defaultExtension: 'ts' },
    '':                        { main: 'main.ts',  defaultExtension: 'ts' },
    'rxjs':                       { defaultExtension: 'js' },
    'angular2-in-memory-web-api': { defaultExtension: 'js' },
  };

  var ngPackageNames = [
    'common',
    'compiler',
    'core',
    'http',
    'platform-browser',
    'platform-browser-dynamic',
    'router',
    'router-deprecated',
    'upgrade',
  ];

  // Add map entries for each angular package
  // only because we're pinning the version with `ngVer`.
  ngPackageNames.forEach(function(pkgName) {
    map['@angular/'+pkgName] = 'https://npmcdn.com/@angular/' + pkgName + ngVer;
  });

  // Add package entries for angular packages
  ngPackageNames.forEach(function(pkgName) {

    // Bundled (~40 requests):
    packages['@angular/'+pkgName] = { main: pkgName + '.umd.js', defaultExtension: 'js' };

    // Individual files (~300 requests):
    //packages['@angular/'+pkgName] = { main: 'index.js', defaultExtension: 'js' };
  });

  var config = {
    // DEMO ONLY! REAL CODE SHOULD NOT TRANSPILE IN THE BROWSER
    transpiler: 'ts',
    typescriptOptions: {
      tsconfig: true
    },
    meta: {
      'typescript': {
        &quot;exports&quot;: &quot;ts&quot;
      }
    },
    map: map,
    packages: packages
  }

  System.config(config);

})(this);


/*
Copyright 2016 JohnPapa.net, LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license
*/"><input type="hidden" name="files[tsconfig.json]" value="{
  &quot;compilerOptions&quot;: {
    &quot;target&quot;: &quot;es5&quot;,
    &quot;module&quot;: &quot;commonjs&quot;,
    &quot;moduleResolution&quot;: &quot;node&quot;,
    &quot;sourceMap&quot;: true,
    &quot;emitDecoratorMetadata&quot;: true,
    &quot;experimentalDecorators&quot;: true,
    &quot;removeComments&quot;: false,
    &quot;noImplicitAny&quot;: true,
    &quot;suppressImplicitAnyIndexErrors&quot;: true
  },
  &quot;exclude&quot;: [
    &quot;node_modules&quot;,
    &quot;typings/main&quot;,
    &quot;typings/main.d.ts&quot;
  ]
}
"></form><script>document.getElementById("mainForm").submit();</script></body></html>