<html lang="en"><head></head><body><form id="mainForm" method="post" action="http://plnkr.co/edit/?p=preview" target="_self"><input type="hidden" name="files[app/vehicle.service.ts]" value="import {Injectable} from '@angular/core';

@Injectable()
export class VehicleService {
  getVehicles = () => [
    { id: 1, name: 'X-Wing Fighter' },
    { id: 2, name: 'Tie Fighter' },
    { id: 3, name: 'Y-Wing Fighter' }
  ];
}

"><input type="hidden" name="files[app/vehicles.component.ts]" value="import { Component } from '@angular/core';

import { VehicleService } from './vehicle.service';

@Component({
  selector: 'my-vehicles',
  templateUrl: 'app/vehicles.component.html',
  providers: [VehicleService]
})
export class VehiclesComponent {
  constructor(
    private _vehicleService: VehicleService) { }
  vehicles = this._vehicleService.getVehicles();
}



"><input type="hidden" name="files[main.ts]" value="import { bootstrap } from '@angular/platform-browser-dynamic';
import { VehiclesComponent } from './app/vehicles.component';

bootstrap(VehiclesComponent)
  .then(success => console.log(`Bootstrap success`))
  .catch(error => console.log(error));

"><input type="hidden" name="files[app/vehicles.component.html]" value="<ul>
  <li *ngFor=&quot;#vehicle of vehicles&quot;>
    {{vehicle.name}}
  </li>
</ul>
<div *ngIf=&quot;vehicles.length&quot;>
  <h3>You have {{vehicles.length}} vehicles</h3>
</div>"><input type="hidden" name="files[index.html]" value="<!DOCTYPE html>
<html>

<head>
  <script>document.write('<base href=&quot;' + document.location + '&quot; />');</script>

  <meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1.0&quot;>
</head>

<body>
  <my-vehicles>Loading Services Demo ...</my-vehicles>

  <script src=&quot;https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.35.0/es6-shim.js&quot;></script>
  <script src=&quot;node_modules/zone.js/dist/zone.js&quot;></script>
  <script src=&quot;node_modules/reflect-metadata/Reflect.js&quot;></script>
  <script src=&quot;https://code.angularjs.org/tools/system.js&quot;></script>
    <script src=&quot;https://code.angularjs.org/tools/typescript.js&quot;></script>

  <script>
    System.import('system-config.js')
      .then(function () { System.import('main') })
      .catch(console.error.bind(console));
  </script>
</body>

</html>"><input type="hidden" name="files[tslint.json]" value="{
  &quot;rules&quot;: {
    &quot;class-name&quot;: true,
    &quot;comment-format&quot;: [
      true,
      &quot;check-space&quot;
    ],
    &quot;curly&quot;: true,
    &quot;eofline&quot;: true,
    &quot;forin&quot;: true,
    &quot;indent&quot;: [
      true,
      &quot;spaces&quot;
    ],
    &quot;label-position&quot;: true,
    &quot;label-undefined&quot;: true,
    &quot;max-line-length&quot;: [
      true,
      140
    ],
    &quot;member-access&quot;: false,
    &quot;member-ordering&quot;: [
      true,
      &quot;static-before-instance&quot;,
      &quot;variables-before-functions&quot;
    ],
    &quot;no-arg&quot;: true,
    &quot;no-bitwise&quot;: true,
    &quot;no-console&quot;: [
      true,
      &quot;debug&quot;,
      &quot;info&quot;,
      &quot;time&quot;,
      &quot;timeEnd&quot;,
      &quot;trace&quot;
    ],
    &quot;no-construct&quot;: true,
    &quot;no-debugger&quot;: true,
    &quot;no-duplicate-key&quot;: true,
    &quot;no-duplicate-variable&quot;: true,
    &quot;no-empty&quot;: false,
    &quot;no-eval&quot;: true,
    &quot;no-inferrable-types&quot;: true,
    &quot;no-shadowed-variable&quot;: true,
    &quot;no-string-literal&quot;: false,
    &quot;no-switch-case-fall-through&quot;: true,
    &quot;no-trailing-whitespace&quot;: true,
    &quot;no-unused-expression&quot;: true,
    &quot;no-unused-variable&quot;: true,
    &quot;no-unreachable&quot;: true,
    &quot;no-use-before-declare&quot;: true,
    &quot;no-var-keyword&quot;: true,
    &quot;object-literal-sort-keys&quot;: false,
    &quot;one-line&quot;: [
      true,
      &quot;check-open-brace&quot;,
      &quot;check-catch&quot;,
      &quot;check-else&quot;,
      &quot;check-whitespace&quot;
    ],
    &quot;quotemark&quot;: [
      true,
      &quot;single&quot;
    ],
    &quot;radix&quot;: true,
    &quot;semicolon&quot;: [
      &quot;always&quot;
    ],
    &quot;triple-equals&quot;: [
      true,
      &quot;allow-null-check&quot;
    ],
    &quot;typedef-whitespace&quot;: [
      true,
      {
        &quot;call-signature&quot;: &quot;nospace&quot;,
        &quot;index-signature&quot;: &quot;nospace&quot;,
        &quot;parameter&quot;: &quot;nospace&quot;,
        &quot;property-declaration&quot;: &quot;nospace&quot;,
        &quot;variable-declaration&quot;: &quot;nospace&quot;
      }
    ],
    &quot;variable-name&quot;: false,
    &quot;whitespace&quot;: [
      true,
      &quot;check-branch&quot;,
      &quot;check-decl&quot;,
      &quot;check-operator&quot;,
      &quot;check-separator&quot;,
      &quot;check-type&quot;
    ]
  }
}
"><input type="hidden" name="files[typings.json]" value="{
  &quot;ambientDependencies&quot;: {
    &quot;es6-shim&quot;: &quot;github:DefinitelyTyped/DefinitelyTyped/es6-shim/es6-shim.d.ts#7de6c3dd94feaeb21f20054b9f30d5dabc5efabd&quot;,
    &quot;jasmine&quot;: &quot;github:DefinitelyTyped/DefinitelyTyped/jasmine/jasmine.d.ts#5c182b9af717f73146399c2485f70f1e2ac0ff2b&quot;
  }
}
"><input type="hidden" name="files[license.md]" value="Copyright 2010-2015 Google, Inc. http://angularjs.org

Licensed under the Apache License, Version 2.0 (the &quot;License&quot;);
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

   [http://www.apache.org/licenses/LICENSE-2.0](http://www.apache.org/licenses/LICENSE-2.0)

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an &quot;AS IS&quot; BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License."><input type="hidden" name="tags[0]" value="angular2"><input type="hidden" name="tags[1]" value="example"><input type="hidden" name="tags[2]" value="first look"><input type="hidden" name="tags[3]" value="angular 2"><input type="hidden" name="private" value="true"><input type="hidden" name="description" value="Angular 2 Example - Angular 2 - Services"></form><script>document.getElementById("mainForm").submit();</script></body></html>