<article class="template animated slideInRight">
  <h4>Characters</h4>

  <a href="" [routerLink]="['/characters', 'new']"><button class="story-button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Add</button></a>

  <story-filter-text (changed)="filterChanged($event)"></story-filter-text>

  <ul class="characters">
    <li *ngFor="let character of filteredCharacters | sortCharacters;trackBy:trackByCharacters">

      <story-character-button [character]="character"></story-character-button>

    </li>
  </ul>
</article>
