<!DOCTYPE html>
<html ng-app="app">

  <head>
    <meta charset="utf-8" />
    <title>AngularJS Plunker</title>
    <script>document.write('<base href="' + document.location + '" />');</script>
    <script data-require="angular.js@1.4.x" src="https://code.angularjs.org/1.4.8/angular.js" data-semver="1.4.8"></script>
    <script src="vehicles.controller.js"></script>
  </head>

  <body ng-controller="VehiclesController as vm">
    <div>
      <h3>{{vm.title}}</h3>
      <img ng-src="{{vm.imagePath}}"
        ng-mouseover="vm.log('mouseover')"
        ng-mousedown="vm.log('mousedown')"
        ng-mouseleave="vm.log('mouseleave')"
        ng-mouseup="vm.log('mouseup')"
        ng-click="vm.log('click')"
      >
      <div>
        <input
          ng-blur="vm.log('blur')"
          ng-focus="vm.log('focus')"
          ng-keydown="vm.log('keydown', $event)"
          ng-keyup="vm.log('keyup', $event)"
          ng-keypress="vm.log('keypress', $event)"
          >
      </div>
      <ul class="messages">
        <li ng-repeat="msg in vm.messages | track by $index">{{msg}}</li>
      </ul>
    </div>
  </body>

</html>
